/* Tokyo Night */
@define-color bg_dark #1a1b26;
@define-color bg #16161e;
@define-color bg_highlight #292e42;
@define-color black #414868;
@define-color fg #c0caf5;
@define-color fg_dark #a9b1d6;
@define-color fg_gutter #3b4261;
@define-color dark3 #545c7e;
@define-color comment #565f89;
@define-color dark5 #737aa2;
@define-color blue0 #3d59a1;
@define-color blue #7aa2f7;
@define-color cyan #7dcfff;
@define-color blue1 #2ac3de;
@define-color blue2 #0db9d7;
@define-color blue5 #89ddff;
@define-color blue6 #b4f9f8;
@define-color blue7 #394b70;
@define-color magenta #bb9af7;
@define-color magenta2 #ff007c;
@define-color purple #9d7cd8;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color green #9ece6a;
@define-color green1 #73daca;
@define-color green2 #41a6b5;
@define-color teal #1abc9c;
@define-color red #f7768e;
@define-color red1 #db4b4b;
@define-color white #fff;

/* ------------------------------------------------ */

* {
	font-family: JetBrains Mono Nerd Font;
	font-size: 16px;
}

/* ------------------------------------------------ */

window#waybar {
	background-color: rgba(26,27,38, 0.0);
}

/* ------------------------------------------------ */

#workspaces  {
	color: @fg_dark;
	background: @bg;
	padding: 0px 8px;
	margin: 4px; 
  background: @bg;
	border-radius: 12px;
}

/* ------------------------------------------------ */

#workspaces button {
	color: @blue;
	border-radius: 12px;
}

/* ------------------------------------------------ */

#workspaces button.active {
	color: @red;
}

/* ------------------------------------------------ */

#window {
	color: @fg;
}

/* ------------------------------------------------ */

#tray, #pulseaudio, #network, #backlight, #battery, #clock, #mpd, #custom-pacman, #memory {
	background: @bg;
	padding: 2px 8px;
	margin: 4px;
	border-radius: 12px;
}

/* ------------------------------------------------ */

#backlight {
	color: @yellow;
}

/* ------------------------------------------------ */

#pulseaudio {
	color: @green;
}

/* ------------------------------------------------ */

#network {
	color: @teal;
  padding-right: 13px;
}

/* ------------------------------------------------ */

#battery {
	color: @blue;
}
#battery.warning {
  background: rgb(255,0,0);
}
#battery.charging {
  color: rgb(0,0,200);
  background: repeating-linear-gradient(90deg, @bg, @bg, rgb(0,255,0), @bg, @bg);
  background-size: 600% 100%;
  animation: gradient 2s linear infinite;
  animation-direction: reverse;
}
#battery.full {
  color: rgb(0,255,0);
}

/* ------------------------------------------------ */

#clock {
	color: @purple;
}

/* ------------------------------------------------ */

 #mpd {
   color: @white;
 }

 #mpd.playing {
   color: black;
   background: repeating-linear-gradient(45deg, @red, @green, @yellow, @orange, @blue, @dark3);
   background-size: 600% 100%;
   animation: gradient 4s linear infinite;
   animation-direction: alternate;
 }

@keyframes gradient {
  0% {background-position: 0%;}
  100% {background-position: 100%;}
}

/* ------------------------------------------------ */

#memory {
  color: @red;
}
